<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>SMS Api</title>
    <link rel="manifest" href="/manifest.json" />
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
    />
  </head>
  <body>
    <header>
      SMS Api | kablosuzkedi
      <i class="fa fa-mobile"></i>
    </header>
    <div class="appContainer">
      <input type="text" class="otpField" disabled placeholder="6 Haneli Kod" />
      <button class="verify">Verify</button>
    </div>
    <script src="/client.js" defer></script>
  </body>
</html>
