<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>SMS Api</title>
    <link rel="manifest" href="/manifest.json" />
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
    />
  </head>
  <body>
    <header>
      SMS Api | kablosuzkedi
      <i id="install" class="fa fa-mobile"></i>
    </header>

    <div class="homeScreen">
      <p id="unsupported">
        Tarayıcınız SMS Receiver API'yi desteklemiyor
      </p>

      <h3 class="requirements-title">Gereksinimler</h3>
      <ul class="requirements">
        <li>
          Google Chrome 78 veya daha büyük bir sürüm
        </li>
        <li>
          <strong>
            chrome://flags/#enable-experimental-web-platform-features </strong
          ><br /><br />
          Özelliğinin aktifleştirilmesi
        </li>
      </ul>

      <button class="startBtn">KONTROL ET</button>
    </div>

    <div class="appContainer">
      <h3>Telefon numarasını kontrol edin</h3>
      <input
        pattern="^([0-9]+)$"
        type="text"
        class="otpInput"
        placeholder="6 Haneli Kod"
      />
    </div>

    <div id="snackbar"></div>
    <script src="/client.js" defer></script>
  </body>
</html>
