@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* font-family: "Exo 2", sans-serif; */
  font-family: "Roboto", sans-serif;

  background-color: #fff;
  color: white;
}
header {
  font-size: 20px;
  height: 64px;
  background-color: #c00201;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 0 10px;
}

.verify {
  padding: 10px 20px;
  background-color: #c00201;
  color: white;
  margin-top: 10px;
  border: none;
  outline: none;
  border-radius: 3px;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.verify:focus {
  background-color: #b83f3f;
}

.appContainer {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h3 {
  color: #333;
  font-weight: bolder;
  margin-bottom: 20px;
}

input {
  padding: 20px 20px;
  outline: none;
  font-size: 18px;
  border: none;
  margin-bottom: 20px;
  border: 1px solid #333;
  border-radius: 3px;
  color: rgba(0, 0, 0, 0.37);
}

input:disabled {
  background-color: #f4f4f4;
  color: rgba(0, 0, 0, 0.37);
}

input::placeholder {
  color: rgba(0, 0, 0, 0.37);
  padding: 10px;
}

.alert {
  position: fixed;
  bottom: 10px;
  height: 50px;
  background-color: rgba(51, 51, 51);
  border: 1px solid #333;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 230px;
}

#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
.show {
  visibility: visible !important; /* Show the snackbar */

  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s;
  animation: fadein 0.5s;
}

.hide {
  visibility: hidden !important; /* Show the snackbar */

  -webkit-animation: fadeout 0.5s 2.5s;
  animation: fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
