@import url("https://fonts.googleapis.com/css?family=Exo+2:400,700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Exo 2", sans-serif;
  background-color: #fff;
  color: white;
}
header {
  font-size: 20px;
  height: 64px;
  background-color: #c00201;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 0 10px;
}

.verify {
  padding: 10px 20px;
  background-color: #c00201;
  color: white;
  margin-top: 10px;
  border: none;
  outline: none;
}

.verify:focus {
  background-color: #b83f3f;
}

.appContainer {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input {
  padding: 10px 20px;
  outline: none;
  font-size: 18px;
  border: none;
}

input:disabled {
  background-color: #f4f4f4;
}
